name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 23 * * 5'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: olafurpg/setup-scala@v12
      with:
        # TODO https://github.com/scalikejdbc/scalikejdbc-async/issues/162
        java-version: "adopt@1.8.0-282"
    - uses: coursier/cache-action@v6
    - run: sbt -v "+ test"
    - run: git diff --exit-code # check scalariform
